.column {
  list-style: none;
  padding: 0;
  display: inline-block;
}

.column:nth-child(odd) {
  border-left: solid 5px #f00;
  border-right: solid 5px #f00;
}

.column:last-child:nth-child(even) {
  border-right: solid 5px #f00;
}

.row {
  width: 20px;
  height: 20px;
}

.row:nth-child(odd) {
  border-top: solid 5px #f00;
  border-bottom: solid 5px #f00;
}

.row:last-child:nth-child(even) {
  border-bottom: solid 5px #f00;
}

.matrix {
  width: 50%;
  margin: auto;
}

.button {
  border: 2px solid #4CAF50; /* Green */
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.algo-list {
  margin-top: 20px;
}
